<!--<div class="content">
  <div class="header">Hi: {{ location.name }}</div>
  <div class="description"> {{ location.street }} </div>
  <div class="metadata">

  </div>
  <div class="extra">zip: {{ location.zipcode }}</div>
</div>
-->

<div class="content" style="padding:25px;">
  <h3><i class="heart icon"></i> {{ location.name }}</h3>

  <div class="meta">
    <span class="street"
      ><i class="angle right icon"></i>{{ location.street }}</span>
      </div>
      <div class="meta">
    <span class="zipcode"
      ><i class="angle right icon"></i>{{location.zipcode}}, {{ location.city
      }}</span
    >
  </div>
  <div class="ui hidden divider"></div>
  <div class="extra">
    <div class="description">
      <p>Melden Sie sich für eine Impfung in {{location.city}} an.</p>
    </div>

    <div class="pwr-button">
      <i class="arrow circle right icon"></i> Verfügbare Termine
    </div>
  </div>
</div>
